# Visual Studio build files
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.ipch
*.log
*.suo
*.user
*.sqlite
*.vspx
.vs/
*.sln
*.vcxproj*

# Build directories
Debug/
Release/

# C# build files
obj/
app.config
AssemblyInfo.cs
*.csproj

# Windows Forms
*.resx
*.settings

# User-specific files & directories
Course 01
Course 05/Project2/
Course 09

# Keep Files 
!Course 14/**/*.sln
!Course 19/DVLD Project/**/*.sln
!Course 19/DVLD Project/**/*.csproj
!Course 19/DVLD Project/**/*.resx
!Course 19/DVLD Project/**/app.config