# Visual Studio build files
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.ipch
*.log
*.suo
*.user
*.sqlite
*.vspx
.vs/
*.sln
*.vcxproj*

# Build directories
Debug/
Release/

# User-specific files & directories
Course 1
Course 5/Project2/
Course 9